body {
  margin: 0;
  padding: 0; }

.lw {
  font-family: 'Open Sans'; }
  .lw header {
    background-image: url("img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    font-weight: 300;
    padding: 3rem; }
    .lw header h1 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 3rem;
      margin: 0.1em 0; }
    .lw header p {
      font-size: 1.3rem;
      max-width: 47%; }
  .lw section h2,
  .lw section h3 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
  .lw section h2 {
    font-size: 1.35rem; }
  .lw section.issues {
    margin-bottom: 2rem; }
    .lw section.issues h2 {
      margin: 3rem auto 1rem auto;
      line-height: 0.25;
      text-align: center; }
      .lw section.issues h2 span {
        display: inline-block;
        position: relative; }
        .lw section.issues h2 span:before, .lw section.issues h2 span:after {
          content: "";
          position: absolute;
          border-bottom: 2px solid black;
          top: 0;
          width: 140%; }
        .lw section.issues h2 span:before {
          right: 100%;
          margin-right: 15px; }
        .lw section.issues h2 span:after {
          left: 100%;
          margin-left: 15px; }
    .lw section.issues p {
      text-align: center;
      width: 70%;
      margin: auto; }

/* GRID TILES */
.lw .tile-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -4px; }

a {
  text-decoration: none; }

.tile {
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  padding: 4px;
  box-sizing: border-box;
  max-width: 20%; }
  .tile .logo {
    width: 125px;
    height: 125px;
    line-height: 125px;
    display: block;
    border: 1px solid #090909;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 3rem;
    margin: auto auto 1rem auto; }
    .tile .logo:hover {
      color: white;
      background: #4E4C37;
      border-color: transparent; }

.tile-content {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 250px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  transition: background-color 300ms ease-in;
  text-decoration: none; }

.tile-content * {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  max-width: 400px;
  box-sizing: border-box;
  margin: auto auto 0.5rem auto; }

.description {
  color: #888;
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: 0;
  text-align: left;
  padding: 7px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (min-width: 626px) and (max-width: 900px) {
  .lw-grid .tile {
    -webkit-flex-basis: 33.3%;
    -ms-flex-preferred-size: 33.3%;
    flex-basis: 33.3%;
    max-width: 33.3%; }
  .lw-grid .large-tile {
    -webkit-flex-basis: 66.6%;
    -ms-flex-preferred-size: 66.6%;
    flex-basis: 66.6%;
    max-width: 66.6%;
    -webkit-olwer: -1;
    -ms-flex-olwer: -1;
    olwer: -1; } }

@media (min-width: 351px) and (max-width: 625px) {
  .lw-grid .tile {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .lw-grid .large-tile {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    -webkit-olwer: -1;
    -ms-flex-olwer: -1;
    olwer: -1; } }

@media (max-width: 350px) {
  .lw-grid .tile {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    font-size: 12px; }
  .lw-grid .large-tile {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    -webkit-olwer: -1;
    -ms-flex-olwer: -1;
    olwer: -1; } }
